
# .gitignore


# ----------
# R
# ----------

.Rproj.user
.Rhistory

.RData

.Ruserdata

rclass2.Rproj


# ----------
# TeX
# ----------

*.tex

# ----------
# MacOS
# ---------

.DS_Store
__MACOSX/


# ----------
# OTHER, ?
# ----------
  
_site/
