
# .gitignore


# ----------
# R
# ----------

.Rproj.user
.Rhistory

.RData

.Ruserdata

rclass2.Rproj


# ----------
# TeX
# ----------

*.tex

# ----------
# MacOS
# ---------

.DS_Store
__MACOSX/


# ----------
# FOLDERS
# ----------
_gitadmin/  
_student_repositories/

_site/
#*.pdf